main {
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    list-style: none;
}

@media (max-width: 650px) {
    main ul {
        width: 100%;
        grid-template-columns: 1fr;
    }
}